/*html {*/
/*    background: #fafafa;*/
/*    overflow-y: hidden;*/
/*}*/

/* 初始加载动画 */
._dash-loading {
    color: transparent;
    position: fixed;
    width: calc(512px / 8);
    height: calc(512px / 8);
    top: 40vh;
    left: 50vw;
    background-image: url('/assets/imgs/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: spin-animation 1.5s infinite;
}

._dash-loading::after {
    content: '';
}

@keyframes spin-animation {

    0%,
    80% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* 对话框容器 */
#chat-container {
    /*background: white;*/
    transition: box-shadow 0.2s;
}

#chat-container:hover {
    box-shadow: 50px 50px 100px 10px rgba(0, 0, 0, .1);
}

/* 顶部栏 */
#header-bar {
    height: 75px;
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 20px;
}

/* 对话区域 */
#chat-area {
    height: calc(100% - 240px);
    overflow-y: auto;
    padding: 20px 20px 40px;
    box-sizing: border-box;
}

#chat-area::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    outline: none;
    border-radius: 6px;
}

#chat-area::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 底部输入区域 */
#input-area {
    border-top: 1px solid #e5e5e5;
    height: 165px;
    box-sizing: border-box;
    position: relative;
}

#input-area textarea {
    padding: 10px 110px 10px 14px;
}

#input-area .ant-btn-icon {
    margin-right: 2px !important;
}

#input-area #tool-button-container button * {
    color: #595959;
    font-size: 13px;
}

.tool-button-container-tag {
    width: 93px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 13px;
    margin-right: 0px;
}

/* 对话消息框相关样式 */
.chat-message-box {
    width: fit-content;
    min-width: 60px;
    max-width: 100%;
    background: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #dedede;
    padding: 10px;
    box-sizing: border-box;
    position: relative
}

.chat-message-box .ant-typography-copy {
    vertical-align: -0.2em;
}

.chat-message-box-datetime-left {
    width: 110px;
    opacity: 0.2;
    font-size: 12px;
    position: absolute;
    left: 10px;
    bottom: -20px;
}

.chat-message-box-datetime-right {
    width: 110px;
    opacity: 0.2;
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: -20px;
}

.operation-button-group {
    transition: all 0.2s;
}

.chat-message-box .operation-button-group button * {
    color: #595959;
    font-size: 13px;
}

/* 设置中心相关样式 */
.chat-setting-container .ant-tabs-content-holder {
    padding: 16px 16px 16px 0 !important;
    height: calc(-400px + 100vh);
    overflow-y: auto;
}

.chat-setting-container .ant-tabs-content-holder::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    outline: none;
    border-radius: 6px;
}

.chat-setting-container .ant-tabs-content-holder::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.chat-setting-container img {
    display: block;
}

.chat-setting-model-card {
    width: 175px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.chat-setting-model-card-group {
    width: 100%;
}

.chat-setting-model-card-group .ant-pro-checkcard-content {
    padding: 8px 12px;
}

.chat-setting-container .ant-divider {
    margin: 6px 0;
}

.chat-setting-container .ant-form-item-label>label,
.chat-export-container .ant-form-item-label>label {
    font-size: 15px;
    font-weight: 500;
}