._dash-loading {
    color: transparent;
    position: fixed;
    width: calc(544px / 2.5);
    height: calc(408px / 2.5);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-image: url("/assets/imgs/loading.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

._dash-loading::after {
    content: '';
}

#login-form-container .ant-card-head-wrapper {
    text-align: center;
}

#login-form-container .ant-card-head-title {
    font-size: 26px !important;
    font-weight: bold;
}

/*滚动条自定义样式*/
*::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: none;
    border-radius: 6px;
}

/*scrollbar-color{*/
/*    #eaeaea transparent*/
/*}*/
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eaeaea;
}

/*火狐浏览器*/
* {
    scrollbar-width: thin;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #eaeaea transparent;
}


#react-entry-point {
    background-color: rgba(20, 20, 20, 1);
}

body::before {
    content: "";
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("/assets/imgs/backgroundbig.0ee9978d.png");*/
    background-size: cover;
    background-position: center;
    opacity: 1; /* 设置透明度 */
    /*z-index: 1;*/
}

#ABNMode > div > div.ant-tabs-nav > div.ant-tabs-nav-wrap {
    padding-left: 5px;
}

#tabs-container {
    /*background:#D9EDF6;*/
    /*padding-left:10px !important;*/
    /*padding-right:10px !important;*/
}

.ant-tabs-nav-wrap {
    /*background:white;*/
}

.ant-tabs-content-holder {
    /*background:white;*/
}

#ABNReal-recent-record-card > div > div:nth-child(1) {
    margin: 0 !important;
    padding: 0 !important;
    /*max-height: 20px !important;*/
}

#ABNMode-Tabs-panel-故障模式实时报警 > div:nth-child(4) > div > div.ant-col.ant-col-8.css-qnu6hi > div > div.ant-card-head {
    padding: 10px !important;
    min-height: 32px !important;
}

/*.ant-row-start{*/
/*    box-shadow: rgb(118 121 123) 0px 2px 4px !important;*/
/*}*/
.markdown-body table tr {
    background-color: #1f1f1f !important;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #000 !important;
}

/*报警曲线样式*/

/*.alarm-chart-row-3-child {*/
/*    white-space: nowrap; !* 禁止换行 *!*/
/*    overflow: hidden; !* 隐藏超出部分 *!*/
/*    text-overflow: ellipsis; !* 超出用… *!*/
/*    display: inline-block; !* 保证宽度生效 *!*/
/*    max-width: 100%; !* 按需设置具体宽度/最大宽度 *!*/
/*}*/
/*.chart-desc-content{*/
/*    white-space: nowrap; !* 禁止换行 *!*/
/*    overflow: hidden; !* 隐藏超出部分 *!*/
/*    text-overflow: ellipsis; !* 超出用… *!*/
/*    display: inline-block; !* 保证宽度生效 *!*/
/*    max-width: 15vw;*/
/*    font-size: 14px;*/
/*}*/
.chart-desc-content-info{
    color: #478e46 !important;
}
